.auth-container {
  display: flex;
  height: 100vh;
  background-color: #77a2a0;
  font-family: Arial, sans-serif;
}

.auth-left, .auth-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-left {
  border-right: 2px solid #ccc;
}

.auth-logo {
  width: 120px;
  height: auto;
  margin-bottom: 20px;
}

.auth-left h1 {
  font-size: 32px;
  font-weight: bold;
}

.auth-right {
  padding: 0 40px;
  color: #000;
}

.auth-right h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  width: 100%;
  max-width: 350px;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

.input-container {
  display: flex;
  align-items: center;
  background-color: #f9f8c9;
  padding: 10px;
  border-radius: 6px;
  margin-top: 5px;
}

.input-container input {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  font-size: 14px;
}

.icon {
  margin-left: 8px;
}

.register-button {
  margin-top: 20px;
  width: 100%;
  background-color: #6d4ad1;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
